### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [3]:
message = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

message.count("row")

#note, it is case sensitive. So doesn't count Row w/ a capital R

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [11]:
name = input("name:")
color = input("color:")
animal = input("animal:")
print(name + " had a little " + animal + ". \nIt was " + color + "as snow. \nAnd everywhere that " + name + " went, the " + animal + " was sure to go.")

name: Annie
color: blue
animal: cat

Annie had a little cat.
It was blue as snow.
And everywhere that Annie went, the cat was sure to go.

3. Print 3.14159 in a scientific number notation

In [14]:
x = 3.14159 
print(f"{x :e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [15]:
x = 3.1559
print(f"{x:.3f}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [19]:
x = 1589.92341
print(f"{x :3e}")

1.589923e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [21]:
print(39//2, 39%2)

19 1

In [23]:
print(19//2, 19%2)

9 1

In [24]:
print(9//2, 9%2)

4 1

In [25]:
print(4//2, 4%2)

2 0

In [26]:
print(2//2, 2%2)

1 0

In [27]:
print(1//2, 1%2)

0 1

In [28]:
print("binary number is 0b100111")

binary number is 0b100111

In [30]:
#checking with bin() and int() functions 

print(bin(39), int(0b100111))

0b100111 39

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [31]:
print(39//8, 39%8)

4 7

In [32]:
print(4//8, 4%8)

0 4

In [36]:
print("octal number is 0o47")

octal number is 0o47

In [35]:
#checking result agains oct() and int() functions 

print(oct(39), int(0o47))

0o47 39

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [37]:
print(39//16, 39%16)

2 7

In [38]:
print(2//16, 2%16)

0 2

In [39]:
print("Hexadecimal number is 0x27")

Hexadecimal number is 0x27

In [40]:
print(hex(39),int(0x27))

0x27 39

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [56]:
price = float(input("Sticker price of item"))
tax = float(input("Tax rate in percentage"))
calculated_tax_amount = price*tax/100
total_amount = price + calculated_tax_amount

print("Sticker price of item: " + str(price) + "\nTax rate in percent: " + 
      str(tax) + "\nTotal tax amount: " + str(calculated_tax_amount) + "\nTotal amount owed: " + str(total_amount))

Sticker price of item 100
Tax rate in percentage 10

Sticker price of item: 100.0
Tax rate in percent: 10.0
Total tax amount: 10.0
Total amount owed: 110.0